<h1>日程調整</h1>

<%= "この予定は#{@playeatb}の予定です#{@time}の予定を入力してください" %>

<% j = 0 %>
<%= form_with( model: [@allplan,@user,@form],url: decdateindex_path, method: :post) do |f| %>
  <%=  f.fields_for :decdates do |i| %>
    <%= i.hidden_field :allplan_id, :value => @allplan.id %>
    <%= i.hidden_field :user_id, :value => @user.id %>
    <%= i.hidden_field :dayid, :value => @days[j].id %>
    <%= "#{@days[j].month} #{@days[j].day}" %>
    <% j +=1 %>
    <%= i.label :result, '◎', value: 1 %>
    <%= i.radio_button :result, '1' %>
    <%= i.label :result, '✕', value: 0 %>
    <%= i.radio_button :result, '0' %> <br>
  <% end %>
  <%= f.submit "送信"  %>
<% end %>

