<!DOCTYPE html>
<html>
  <head>
    <title>TeamA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="text-success"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="text-danger"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>

